NEXT_PUBLIC_PROJECT_ID=a8cb188faf66b49e42de39d0fff2cfa4
CONVEX_DEPLOYMENT=dev:exciting-rook-385 # team: bichkhe, project: meme-marketplace
NEXT_PUBLIC_CONVEX_URL=https://exciting-rook-385.convex.cloud
